
/* Banner */
.banner{
    width: calc(100% - 20px);
    margin: 0 auto;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.css-img{
    display: none;
}
.js-img{
    display: none;
}